*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
div {
    width: 350px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 50px auto 0 auto;
    border-radius: 30px;
    box-shadow: 1px 1px 2px black;
}
a{ 
    background-color: gray;
   color: black;
   font-style: none;
   text-decoration: none;
}
a:active{
    background-color:black;
    color: white;
}

button{
    background-color: rgba(128, 128, 128, 0.212);
    display: block;
    margin: 40px auto 0 auto;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: none;
}
button:active{
    background-color: black;
    color: white;
}
input
{    
    padding-left: 10px;
    display: block;
    border: none;
    margin: 30px auto 0 auto;
    width: 85%;
    height: 40px;
    border-radius: 5px;
    border-bottom-right-radius: 20px;
  
    background-color: black;
    color: white;
}
h1{   font-size: 20px;
    padding: 40px 0px 20px 20px ;
    color: rgb(138, 133, 133);
}
